.gridItem {
  position: relative;
  flex: auto;
  min-width: 0;
  padding: 4px;
  background: hsla(200, 18%, 46%, 0.08);
  outline: 1px solid white;
  outline-offset: -1px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.05);
  transition: 300ms;
}

.textWrapper {
  min-height: 100px;
  min-width: 100px;
}

.text {
  margin: 0 0 4px;
  font-family: monospace;
  color: #444;
}

.childrenWrapper {
  display: flex;
}
